@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    scroll-behavior: smooth;
    background-color:white;
    height:100%;
    width:100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.heading {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}
.nav-links {
    display: flex;
    justify-content:space-around;
    width: 30%;
    font-size: 10px;
}
.nav-links li {
    list-style-type: none;
}
.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 14px 16px;
}
.nav-links a:hover{
    color: rgba(109, 87, 221, 1);
}
section {
    height:100vh;
    width: 100vw;
}
.home_center {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;
    right: 10%;
    text-align: center;
    box-sizing: border-box;
    /*border: 2px solid black;*/
    height: 60%;
    width: 80%;

}

img{
    position: absolute;
    height: 100%;
    right: 0%;
}
.text-left{
    margin-top: 7%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 30px;
}
.img_book1{
    position: absolute;
    height:100%;
    left:35%;
    top:105%;
    
}
.img_book2{
    position:absolute;
    height:100%;
    left:55%;
    top:100%;
}
.img_music{
    position: absolute;
    height: 60%;
    left:5%;
}
.work1_head{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    position: relative;
    top: 25%;
    left:10%;
}
.p_work1{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left:10%;
    top: 27%;
}

.btn_view{
    position: relative;
    top:30%;
    left: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-style:none;
    background-color: white;
    color: black;
}
.work2_head{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    position: relative;
    top: 25%;
    left:50%;
}
.p_work2{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left:50%;
    top: 27%;
}

.btn_view2{
    position: relative;
    top:30%;
    left: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-style:none;
    background-color: white;
    color: black;
}
.btn_view3{
    position: relative;
    top:-27%;
    left: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-style:none;
    background-color: white;
    color: black;
}
.btn_view :hover{
    color: blueviolet;
}
.fa-solid{
    margin-left: 10px;
}
.img_wifly{
    position: relative;
    height: 60%;
    left:43%;
}
#email{
    text-decoration: none;
    position: absolute;
    top:70%;
    left: 10%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    border-radius: 8px;
    border: 2px solid rgba(109, 87, 221, 1);
    
}
#btn_snd{
    background-color:rgba(109, 87, 221, 1);
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    position:absolute;
    top:70%;
    left:10%;
    font-size: 12px;
    text-align: calc(-50);
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}
.footer-head{
    font-family: 'DM Sans', sans-serif;
    position: relative;
    left:3%;
}
#flinks li{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    left: 10%;
    align-items: center;
    display: inline;
    justify-content: space-around;
    list-style-type: none;
    

}
#flinks a{
    color: black;
    text-decoration: none;
    padding: 15px 16px;
}
#view-all-btn{
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    color:black;
    border: none;
    position: relative;
    left: 45%;
    margin-bottom: 10px;
}
.about-me{
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    font-size:20x;
}
.home_center2 {
    display: inline;
    position: absolute;
    top: 20%;
    right: 10%;
    text-align: center;
    box-sizing: border-box;
    /*border: 2px solid black;*/
    height: 60%;
    width: 80%;

}
.para-me{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 14px;
    position: relative;
    text-align: left;
    top:3%;
    left:0%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(109, 87, 221, 1);
    opacity: 1; /* Firefox */
  }
@media (max-width: 480px) {
    .text-left {
      font-size: 8px;
    }
    img{
        position: absolute;
        height: 40%;
        right:-2%;

    }
    .img_book1{
        position: absolute;
        height:50%;
        left:15%;
    }
    .img_book2{
        position: absolute;
        height:50%;
        left:45%;
    }
  }
